<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <div id="title_and_photo">
      <title>{% if page.title %} {{ page.title }} | {% endif %} CV</title>
      <!-- <img src='https://testingcf.jsdelivr.net/gh/WanpengXu/myPicGo/img/202209080101563.jpg' style='float:right; width:120px; height:160px'/> -->
      <img src='https://testingcf.jsdelivr.net/gh/WanpengXu/myPicGo/img/202304111953667.png' style='float:right; width:120px; height:160px'/>
    </div>
    <link
      href="media/cv-screen.css"
      type="text/css"
      rel="stylesheet"
      media="screen"
    />
    <link
      href="media/cv-print.css"
      type="text/css"
      rel="stylesheet"
      media="print"
    />
    <link
      href="media/foundation-icons/foundation-icons.css"
      type="text/css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/774d5c5f58.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="main">
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
